# Ignore Every Thing
*



# Directories
!*/
#./RavenEngine/ThirdParty/
#./RavenEngine/Source
#/Intermediate/
/RavenEngine/Build/
/RavenEngine/.vs/
!/RavenEngine/Dependencies/*


# Project and git
!.gitignore
!*.sln
!*.bat
!*.vcxproj
!*.filters
!*.user
!*.natvis

# Source
!*.cpp
!*.cc
!*.h
!*.hpp
!*.txt
!*.glsl
!*.vert
!*.frag
!*.geom

