# Executables and VS files
bin/
bin-int/
build/

# Change at every compilation
gameProject/Raven.log
gameProject/imgui.ini

# Project and git
!.gitignore
!*.sln
!*.bat
!*.natvis

# Source
!*.cpp
!*.cc
!*.h
!*.hpp
!*.txt
!*.glsl
!*.vert
!*.frag
!*.geom
!*.lua

